* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Open Sans', sans-serif;
	scroll-behavior: smooth;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 700px;
}
hr {
	width: 60px;
	margin: 0 auto;
	border: 1px solid #007bff;
}
.btn {
	padding: 14px;
    margin: auto;
	font-weight: 700;
	text-transform: uppercase;
	border: 1px solid #007bff;
	color: #333;
	background-color: transparent;
    transition: all .3s;
	cursor: pointer;
}
.btn:hover{
    background-color: #007bff;
    color: #fff;
}
/* header */

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 70vh;
}

.header-img {
	width: 100%;
	height: 100%;
	background-image: url('./img/header.jpg');
	background-position: center;
	background-size: cover;
}
.header-text {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.header-title {
	position: relative;
	font-size: 4.2em;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0.1;
	color: #007bff;
}

.dot {
	margin: 0 5px;
	color: #007bff;
}
.header p {
	font-size: 1.3em;
	padding: 25px;
	color: #333;
}
.header-btn {
	padding: 14px;
	text-transform: uppercase;
	font-weight: 700;
	background-color: transparent;
	border: 1px solid #007bff;
	cursor: pointer;
	color: #333;
}

/* nav */

.nav {
	position: relative;
	width: 100%;
	height: 50px;
	width: 100%;
	text-align: center;
	background-color: #007bff;
}
.nav-item {
	display: inline-block;
	padding: 0 20px;
	line-height: 50px;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
}
.nav-item a {
	text-decoration: none;
	color: #fff;
}
.fa-solid {
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	padding: 10px 20px;
	color: #fff;
	font-size: 30px;
	cursor: pointer;
}
/* o mnie */

.about-me {
	padding: 120px 0;
	text-align: center;
}
.about-me-title {
	text-transform: uppercase;
	font-size: 1.9em;
}
.about-me-img {
	margin-top: 50px;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	margin-bottom: 50px;
}
.second-text {
	margin-top: 30px;
}

.about-me-text {
	color: #777;
	margin-bottom: 30px;
}

/* portfolio */

.portfolio {
	width: 100%;
	padding: 120px 10%;
	background-color: #f2f1ed;
	text-align: center;
}
.portfolio-title {
	font-size: 1.9em;
	text-transform: uppercase;
}
.portfolio-box-img {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	line-height: 200px;
}
.portfolio a {
	position: relative;
	width: 25%;
	height: 200px;
}
.portfolio img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.portfolio-box-img h3 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-transform: uppercase;
	background-color: rgba(0, 123, 255, 0.8);
	color: #fff;
	opacity: 0;
	transition: opacity 0.3s;
}
.portfolio-box-img h3:hover {
	opacity: 1;
}

/* kontakt */
.contact {
	padding: 120px 0;
	text-align: center;
}
.contact-title {
	text-transform: uppercase;
	font-size: 1.9em;
}

form {
	margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input[type="text"], input[type="email"]{
    flex-basis: 49%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1em;
}

textarea {
	display: block;
	padding: 10px;
	width: 100%;
    height: 100px;
	font-size: 1.5em;
	color: #777;
	border: 2px solid #777;
	margin-bottom: 30px;
}

footer {
	height: 50px;
	width: 100%;
	text-align: center;
	line-height: 50px;
	background-color: #f2f1ed;
}
.contact-items{
    margin-top: 50px;
}
.fa-brands{
    font-size: 2em;
    margin: 10px;
    cursor: pointer;
    color: #007bff;
}

@media (max-width: 360px) {
	.header-title {
		font-size: 1.8em;
	}
	.nav-items {
		display: none;
	}
    .about-me {
        padding: 120px 20px;
        text-align: center;
    }
    .about-me-img {
        width: 200px;
        height: 200px;
    }
	.fa-solid {
		display: block;
	}
	.portfolio-box-img a{
		width: 100%;
	}
	.portfolio-box-img img {
		width: 100%;
		cursor: pointer;
	}
	.contact {
		padding: 0 5px;
	}
	
	textarea {
		width: 100%;
	}
}
@media(max-width:480px){
    
input[type="text"], input[type="email"]{
    flex-basis: 100%;
}
}

@media (min-width: 361px) and (max-width: 576px) {
	.header-title {
		font-size: 2em;
	}
	.header p {
		font-size: 1em;
	}
	.nav-items {
		display: none;
	}
    .about-me-img {
        width: 250px;
        height: 250px;
    }
    .about-me {
        padding: 120px 20px;
        text-align: center;
    }
	.fa-solid {
		display: block;
	}
	.portfolio a {
		width: 99%;
	}
	textarea {
		width: 100%;
	}
	.contact {
		padding: 0 5px;
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.header-title {
		font-size: 3em;
	}
	.heade p {
		font-size: 1.2em;
	}
    .about-me {
        padding: 120px 30px;
        text-align: center;
    }
	.portfolio-box-img a {
		width: 50%;
	}
	textarea {
		width: 100%;
	}
	.contact {
		padding: 0 5px;
	}
}

@media(min-width: 768px) and (max-width: 1200px) {
	.portfolio-box-img a {
		width: 50%;
	}
}